<a href="https://colab.research.google.com/github/zelaneroz/cwru-csds-coursework/blob/main/csds133_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("mohithsairamreddy/salary-data")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/mohithsairamreddy/salary-data?dataset_version_number=4...

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 16.6k/16.6k [00:00<00:00, 7.45MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/mohithsairamreddy/salary-data/versions/4

In [2]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
files = os.listdir(path)
csv_file = [f for f in files if f.endswith('.csv')][0]  # Finds the first CSV file
csv_path = os.path.join(path, csv_file)
df = pd.read_csv(csv_path)

# I. Data Exploration

In [5]:
import pandas as pd

# Load dataset (update with actual file path)
# 1ï¸âƒ£ Check the first few rows
print("ðŸ“Œ First 5 Rows:")
print(df.head(), "\n")

# 2ï¸âƒ£ Check the number of rows and columns
print("ðŸ“Œ Shape of the dataset (rows, columns):", df.shape, "\n")

# 3ï¸âƒ£ Get column names
print("ðŸ“Œ Column Names:")
print(df.columns, "\n")

# 4ï¸âƒ£ Get basic info about dataset (data types, non-null counts, memory usage)
print("ðŸ“Œ Dataset Information:")
print(df.info(), "\n")

# 5ï¸âƒ£ Check for missing values
print("ðŸ“Œ Missing Values Per Column:")
print(df.isnull().sum(), "\n")

# 6ï¸âƒ£ Count completely empty rows
print("ðŸ“Œ Number of Fully Empty Rows:", df.isnull().all(axis=1).sum(), "\n")

# 7ï¸âƒ£ Summary statistics for numerical columns
print("ðŸ“Œ Summary Statistics for Numerical Columns:")
print(df.describe(), "\n")

# 8ï¸âƒ£ Summary statistics for categorical columns
print("ðŸ“Œ Summary Statistics for Categorical Columns:")
print(df.describe(include=['object']), "\n")

# 9ï¸âƒ£ Check unique values in categorical columns (adjust column names as needed)
categorical_cols = ['Gender', 'Education Level', 'Job Title']  # Adjust these column names as necessary
for col in categorical_cols:
    if col in df.columns:
        print(f"ðŸ“Œ Unique values in '{col}':")
        print(df[col].value_counts(), "\n")

ðŸ“Œ First 5 Rows:
    Age  Gender Education Level          Job Title  Years of Experience  \
0  32.0    Male      Bachelor's  Software Engineer                  5.0
1  28.0  Female        Master's       Data Analyst                  3.0
2  45.0    Male             PhD     Senior Manager                 15.0
3  36.0  Female      Bachelor's    Sales Associate                  7.0
4  52.0    Male        Master's           Director                 20.0

     Salary
0   90000.0
1   65000.0
2  150000.0
3   60000.0
4  200000.0

ðŸ“Œ Shape of the dataset (rows, columns): (6704, 6)

ðŸ“Œ Column Names:
Index(['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience',
       'Salary'],
      dtype='object')

ðŸ“Œ Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6704 entries, 0 to 6703
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  6702 non-null   float64
 1   Gender               6702 non-null   object
 2   Education Level      6701 non-null   object
 3   Job Title            6702 non-null   object
 4   Years of Experience  6701 non-null   float64
 5   Salary               6699 non-null   float64
dtypes: float64(3), object(3)
memory usage: 314.4+ KB
None

ðŸ“Œ Missing Values Per Column:
Age                    2
Gender                 2
Education Level        3
Job Title              2
Years of Experience    3
Salary                 5
dtype: int64

ðŸ“Œ Number of Fully Empty Rows: 2

ðŸ“Œ Summary Statistics for Numerical Columns:
               Age  Years of Experience         Salary
count  6702.000000          6701.000000    6699.000000
mean     33.620859             8.094687  115326.964771
std       7.614633             6.059003   52786.183911
min      21.000000             0.000000     350.000000
25%      28.000000             3.000000   70000.000000
50%      32.000000             7.000000  115000.000000
75%      38.000000            12.000000  160000.000000
max      62.000000            34.000000  250000.000000

ðŸ“Œ Summary Statistics for Categorical Columns:
       Gender    Education Level          Job Title
count    6702               6701               6702
unique      3                  7                193
top      Male  Bachelor's Degree  Software Engineer
freq     3674               2267                518

ðŸ“Œ Unique values in 'Gender':
Gender
Male      3674
Female    3014
Other       14
Name: count, dtype: int64

ðŸ“Œ Unique values in 'Education Level':
Education Level
Bachelor's Degree    2267
Master's Degree      1573
PhD                  1368
Bachelor's            756
High School           448
Master's              288
phD                     1
Name: count, dtype: int64

ðŸ“Œ Unique values in 'Job Title':
Job Title
Software Engineer                 518
Data Scientist                    453
Software Engineer Manager         376
Data Analyst                      363
Senior Project Engineer           318
                                 ...
Junior Social Media Specialist      1
Senior Software Architect           1
Developer                           1
Social M                            1
Social Media Man                    1
Name: count, Length: 193, dtype: int64